.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}

form {
  display: flex;
  margin-top: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
}

button[type="button"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #27ae60;
}

ul {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

li span {
  flex-grow: 1;
  margin-right: 10px;
}

li button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #e74c3c;
  color: #fff;
  cursor: pointer;
}

li button:hover {
  background-color: #c0392b;
}
